<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/css/master.css" rel="stylesheet">
  <link href="/css/cobrador.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
  <script src="/js/JSEncrypt.js"></script>
  <script src="/js/script.js"></script>

  <title>Cobrador</title>
</head>

<body>

  <%- include("./components/nav", {url: url, user: user}) %>

    <section class="main mt-5 mb-5" style="min-height: 80vh;">
      <% if(type == 'cobro'){ %>
        <div class="container">
          <h1 class="text-center">Cobrar préstamos</h1>
          <hr class="star-light">
          <div id="alertMain"></div>
          <% if(data.length > 0) {%>
            <table class="table mt-5 clients">
              <thead>
                <th>Número</th>
                <th>Nombre</th>
                <th>Pagos</th>
              </thead>
              <tbody>
                <% for(let i=0; i < data.length; i++){ %>
                  <tr>
                    <td><%= (i+1) %></td>
                    <td><%= data[i].name + " " + data[i].apat + " " + data[i].amat %></td>
                    <td><button type="button" class="btn pl-3 pr-3 border" onclick="getPayments(event, '<%= data[i].curp %>', '<%= data[i].name %>')">Ver Pagos</button></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          <% }else{%>
            <h5 class="text-center mt-4">No hay coincidencias</h5>
          <% } %>
        </div>
      <% }else if(type == 'ver_cobros'){ %>
        <div class="container">
          <h1 class="text-center">Cobros Asignados</h1>
          <hr class="star-light">
          <div id="alertMain"></div>
          <% if(data.length > 0) {%>
            <table class="table mt-5 clients">
              <thead>
                <th>Número</th>
                <th>Nombre</th>
                <th>Domicilio</th>
                <th>Telefono</th>
                <th>Celular</th>
                <th>Pagos</th>
              </thead>
              <tbody>
                <% for(let i=0; i < data.length; i++){ %>
                  <tr>
                    <td><%= (i+1) %></td>
                    <td><%= data[i].name %></td>
                    <td><%= data[i].dom %></td>
                    <td><%= data[i].tel %></td>
                    <td><%= data[i].cel %></td>
                    <td><button type="button" class="btn pl-3 pr-3 border">Ver Pagos</button></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          <% }else{%>
            <h5 class="text-center mt-4">No hay coincidencias</h5>
          <% } %>
        </div>
      <% } %>
      <div class="modal fade" id="staticBackdropPayments" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true" style="overflow-y: scroll;">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container" id="infoPayment">
              </div>
              <div class="row container m-0 justify-content-center" id="paymentsModal">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="doPaymentModal" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true" aria-labelledby="staticBackdropLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Registrar pago</h5>
            </div>
            <div class="modal-body">
              <div class="container">
                <form action="">
                  <h3 class="text-center">Cantidad</h3>
                  <div id="alert"></div>
                  <div class="mb-3 mt-5">
                      <label for="cant" class="form-label">Ingresa la cantidad del pago</label>
                      <input type="number" class="form-control" id="cant" aria-describedby="cantHelp">
                      <div id="cantHelp" class="form-text fw-bold"></div>
                  </div>
                  <button type="button" id="btnRegisterPayment" class="btn mt-3">Registrar</button>
              </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn pl-3 pr-3 border" data-bs-toggle="modal"
              data-bs-target="#staticBackdropPayments" data-bs-dismiss="modal">Regresar a los pagos</button>
            </div>
          </div>
        </div>
      </div>
    </section>



    <style>
      .form-text{
        color: red;
      }
    </style>


    <%- include("./components/footer") %>

</body>

</html>